.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem 0 0.8rem;
  align-items: center;
  height: 40px;
  width: 100%;

  .space {

    .space-body {
      cursor: pointer;
      display: flex;
      align-items: center;

      &:active {
        color: var(--accent);
        animation: bubble 0.4s ease-in-out;
      }
    }


  }

  .actions {
    margin-left: auto;

    .icon {
      cursor: pointer;
      margin-left: 10px;

      &:active {
        color: var(--accent);
        animation: bubble 0.4s ease-in-out;
      }
    }
  }


}

