<div class="header-container">

  <div class="space">

    <div class="space-body">
      <mat-icon svgIcon="spaces" class="small-icon"></mat-icon>
      <div><b>{{ space }}</b></div>
    </div>

  </div>

  <div class="actions">
    <mat-icon svgIcon="reload" class="icon small-icon" *ngIf="showReload"></mat-icon>
    <mat-icon svgIcon="add" class="icon small-icon active" *ngIf="showAdd"></mat-icon>
    <mat-icon svgIcon="edit" class="icon small-icon" *ngIf="showEdit"></mat-icon>
    <mat-icon svgIcon="dots" class="icon small-icon" *ngIf="showDots"></mat-icon>
  </div>

</div>
