<div class="transaction" [ngClass]="{'no-border': isLast}">
  <div class="transaction-group">
    <div class="transaction-header">
      <mat-icon svgIcon="wallet" class="small-icon"></mat-icon>
    </div>
    <div class="transaction-body">
      <div class="transaction-title">{{ transaction.name }}</div>
      <div class="transaction-account secondary-text">
        <mat-icon svgIcon="wallet-2" class="transaction-account-icon"></mat-icon>
        <div>{{ transaction.account.name }}</div>
      </div>
    </div>
  </div>
  <div class="transaction-tail">
    <div
      class="transaction-amount">{{ transaction.amount | number:'1.2-2' }} {{ transaction.account.currency.sign }}
    </div>
    <div class="secondary-text">{{ transaction.date | date: 'dd.MM.yyyy' }}</div>
  </div>
</div>
