<div *ngIf="isOpened">
  <div class="category-settings-container right-modal">
    <div class="categories-header">
      <mat-icon svgIcon="arrow-left" class="gray-icon small-icon" (click)="closeModal()"></mat-icon>
      <div><b>Categories</b></div>
      <div class="active" (click)="addCategory()">Add</div>
    </div>
    <div class="tab-buttons">
      <button class="tab-button" (click)="selectExpenseTab()"
              [class.active-tab]="isExpenseTabActive">Expense categories
      </button>
      <button class="tab-button" (click)="selectIncomeTab()"
              [class.active-tab]="isIncomeTabActive">Income categories
      </button>
    </div>
    <div class="categories-body">
      <div class="tab-content">
        <div class="tab-pane" [class.active-tab]="isExpenseTabActive">
          <div class="category-container" (click)="viewCategory(category)" *ngFor="let category of expenseCategories">
            <div class="category">
              <div class="category-body">
                <div class="category-icon-container">
                  <mat-icon svgIcon="{{category.icon}}" class="small-icon"></mat-icon>
                </div>
                <div class="category-title">{{ category.name }}</div>
              </div>
              <div class="category-footer">
                <mat-icon svgIcon="hamburger-menu" class="small-icon gray-icon"></mat-icon>
              </div>
            </div>
            <div class="sub-category" (click)="viewSubCategory(subCategory)"
                 *ngFor="let subCategory of category.subCategories">
              <div class="category">
                <div class="category-body">
                  <div class="category-icon-container">
                    <mat-icon svgIcon="{{subCategory.icon}}" class="small-icon"></mat-icon>
                  </div>
                  <div class="category-title">{{ subCategory.name }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [class.active-tab]="isIncomeTabActive">
          <div class="category-container" (click)="viewCategory(category)" *ngFor="let category of incomeCategories">
            <div class="category">
              <div class="category-body">
                <div class="category-icon-container">
                  <mat-icon svgIcon="{{category.icon}}" class="small-icon"></mat-icon>
                </div>
                <div class="category-title">{{ category.name }}</div>
              </div>
              <div class="category-footer">
                <mat-icon svgIcon="hamburger-menu" class="small-icon gray-icon"></mat-icon>
              </div>
            </div>
            <div class="sub-category" (click)="viewSubCategory(subCategory)"
                 *ngFor="let subCategory of category.subCategories">
              <div class="category">
                <div class="category-body">
                  <div class="category-icon-container">
                    <mat-icon svgIcon="{{subCategory.icon}}" class="small-icon"></mat-icon>
                  </div>
                  <div class="category-title">{{ subCategory.name }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

