.category-settings-container {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }



}

@media (max-height: 799px) {
  .category-settings-container {
    height: 650px;
  }
}


