<div *ngIf="isOpened">
  <div class="rules-container right-modal">
    <div class="rules-container-header">
      <mat-icon svgIcon="arrow-left" class="gray-icon small-icon" (click)="closeModal()"></mat-icon>
      <div><b>Rules</b></div>
      <mat-icon svgIcon="add-circle" class="active small-icon" (click)="addRule()"></mat-icon>
    </div>

    <div class="rules-container-body">

      <div class="rule" *ngFor="let rule of rules">
        <div class="rule-header">
          <mat-icon svgIcon="{{ rule.assignCategory.icon }}"></mat-icon>
        </div>
        <div class="rule-body">
          <div>if transaction name {{ rule.condition.type.value === ConditionTypeEnum.TEXT_CONTAINS ? 'contains' : 'is' }}
            <b class="black-text">{{ rule.condition.textToApply }}</b></div>
          <div>assign category <b class="black-text">{{ rule.assignCategory.name }}</b></div>
        </div>
      </div>

    </div>
  </div>
</div>
