<div class="page-mask" *ngIf="isOpened" (click)="closeModal()"></div>

<div *ngIf="isOpened">
  <div class="select-account-type-container bottom-modal">
    <div class="row" *ngFor="let row of [].constructor(categoriesRows); let i = index;">
      <div class="type-item"
           *ngFor="let type of categoriesSelect.slice(i * 2, i * 2 + 2);"
           (click)="createAccountWithType(type)">
        <mat-icon svgIcon="{{type.iconName}}"></mat-icon>
        <div>{{ type.name }}</div>
      </div>
    </div>
  </div>
</div>
