<div *ngIf="isOpened">
  <div class="create-rule-container right-modal">
    <div class="create-rule-container-header">
      <mat-icon svgIcon="arrow-left" class="gray-icon small-icon" (click)="closeModal()"></mat-icon>
      <div><b>New rule</b></div>
      <div></div>
    </div>
    <div class="create-rule-container-body">
      <div class="condition">
        <div class="centered-text">Condition</div>
        <div class="secondary-header-text">Which transaction should be affected?</div>
        <div>
          <select>
            <option (select)="selectConditionType(ConditionTypeEnum.TEXT_CONTAINS)">Name contains</option>
            <option (select)="selectConditionType(ConditionTypeEnum.TEXT_EQUALS)">Name exactly equals</option>
          </select>
        </div>
        <div>
          <input [(ngModel)]="conditionText" placeholder="Enter transaction name">
        </div>
      </div>
      <div class="action">
        <div class="centered-text">Action</div>
        <div class="secondary-header-text">Which category should be assigned to a transaction?</div>
        <div class="clickable" (click)="selectCategory()">
          Category: {{ assignCategory?.name ?? 'none' }}
        </div>
        <div class="update-existing-flag">
          <input type="checkbox" [checked]="applyToExistingTransactions">
          <span>Apply to existing transactions?</span>
        </div>
      </div>
    </div>
    <div class="create-rule-container-footer">
      <div class="save-button" (click)="createRule()">Save & apply
        <!--           [ngClass]="{'disabled-button': this.conditionText == '' || this.assignCategory == undefined}"-->

      </div>
    </div>
  </div>
</div>
