<div class="settings-container">
  <div class="accounting-settings">

    <div><b>Accounting entity settings</b></div>

    <div class="accounting-settings-container">
      <div class="accounting-settings-item-container">
        <div class="accounting-settings-item-header">
          <mat-icon svgIcon="box" class="small-icon active"></mat-icon>
          Categories
        </div>
        <mat-icon svgIcon="alt-arrow-right" class="small-icon"></mat-icon>
      </div>

      <div class="accounting-settings-item-container">
        <div class="accounting-settings-item-header">
          <mat-icon svgIcon="clipboard-check" class="small-icon active"></mat-icon>
          Automatic rules
        </div>
        <mat-icon svgIcon="alt-arrow-right" class="small-icon"></mat-icon>
      </div>
    </div>

  </div>
</div>
