<div class="page-mask" (click)="closeModal()" *ngIf="isOpened"></div>

<div *ngIf="isOpened">
  <div class="transaction-view-container bottom-modal">
    <form [formGroup]="transactionForm">
      <div class="transaction-view-header">
        <mat-icon svgIcon="arrow-left" class="gray-icon small-icon" (click)="closeModal()"></mat-icon>
        <mat-icon svgIcon="delete" class="red-icon small-icon"
                  (click)="delete()"
                  *ngIf="!transaction.isBankTransaction"></mat-icon>
      </div>

      <div class="transaction-header">
        <div class="transaction-amount">
          <b>
            {{ this.transactionForm.controls['amount'].value | number:'1.2-2' }}{{ transactionForm.value.account.currency.sign }}
          </b>
        </div>
        <div *ngIf="!editName; else nameInputTemplate" class="transaction-name"
             (click)="editName = true">{{ transactionForm.value.name }}
        </div>
        <ng-template #nameInputTemplate>
          <input #nameInput class="transaction-name-input" placeholder="Transaction name" formControlName="name"
                 (blur)="inputTransactionNameBlue()">
        </ng-template>
        <div class="transaction-secondary-header">
          <div class="transaction-type"
               [ngClass]="{
                 'expense': transaction.type == TransactionType.EXPENSE,
                 'income': transaction.type == TransactionType.INCOME
               }">
            {{ transaction.type.toLowerCase() }}
          </div>
          <div class="transaction-date">
            <input #dateInput type="date" [value]="transactionForm.value.date | date:'yyyy-MM-dd'"
                   (change)="transactionForm.patchValue({date: dateInput.value})">
          </div>
        </div>
      </div>
      <div class="transaction-body">
        <div class="transaction-account">
          <div class="icon-container">
            <mat-icon svgIcon="wallet-2" class="icon"></mat-icon>
          </div>
          <div class="transaction-account-body">
            <div class="secondary-text">From account</div>
            <div>Mono black</div>
          </div>
        </div>
        <div class="transaction-category">
          <div class="transaction-category-header" (click)="selectCategory()">
            <div class="icon-container">
              <mat-icon *ngIf="transaction.category" svgIcon="{{transaction.category?.icon}}" class="icon"></mat-icon>
              <mat-icon *ngIf="!transaction.category" svgIcon="question" class="icon"></mat-icon>
            </div>
            <div class="transaction-account-body">
              <div class="secondary-text">Category</div>
              <div *ngIf="transaction.category"><b>{{ transaction.category?.name }}</b></div>
              <div *ngIf="!transaction.category">
                <b>Uncategorized {{ transaction.type.toLowerCase() }}</b></div>
            </div>
          </div>
          <div>
            <input #amountInput appAutoResize formControlName="amount"
                   type="number" min="0.00"
                   (blur)="formatAmount()">{{ transaction.currency.sign }}
          </div>
        </div>
        <div class="transaction-notes">
          <div class="notes-icon-container">
            <mat-icon svgIcon="textarea" class="notes-icon"></mat-icon>
          </div>
          <div class="notes-textarea-container">
            <textarea placeholder="Notes" formControlName="notes"></textarea>
          </div>
        </div>
      </div>
      <div class="transaction-footer">
        <div class="save-button" (click)="save()">Save</div>
      </div>
    </form>

  </div>
</div>
