.transaction-view-container {
  height: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;

  .transaction-view-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .transaction-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--secondary-border);

    .transaction-amount,
    .transaction-name {
      font-size: 20px;
    }

    .transaction-name {
      cursor: pointer;
    }

    .transaction-name-input {
      width: 80%;
      padding: 0.36rem 1rem;
      text-align: center;
      border-radius: 8px;
      border: 1px solid var(--secondary-border);
      outline: none;
      font-size: 0.9rem;
      font-weight: 550;

      &:focus {
        border: 1px solid var(--accent);
      }
    }

    .transaction-date {
      width: 100%;
      text-align: end;

      input[type="date"] {
        background-color: var(--background);
        border: none;
        outline: none;
        color: var(--secondary-text);
        font-size: 12px;
        border-radius: 5px;
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        margin-left: -9px;
        color: var(--accent) !important;
        cursor: pointer;
      }
    }
  }

  .transaction-body {

    .transaction-account {
      display: flex;
      align-items: center;
      gap: 8px;
      border-bottom: 1px solid var(--secondary-border);
      padding: 0.5rem;
    }

    .transaction-category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--secondary-border);
      padding: 0.5rem;

      .transaction-category-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
      }

      input {
        width: 26px;
        text-align: center;
        border: none;
        border-bottom: 1px solid var(--accent);
        background-color: var(--background);
        padding: 0.1rem 0;
      }
    }

    .transaction-notes {
      display: flex;
      align-items: start;
      justify-content: start;
      padding: 0.4rem 0.5rem 0.5rem;
      gap: 12px;

      .notes-icon-container {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: start;
        justify-content: center;

        .notes-icon {
          width: 24px;
          height: 24px;
        }
      }

      .notes-textarea-container {
        width: 100%;

        textarea {
          width: 100%;
          border-radius: 4px;
          box-sizing: border-box;
          resize: none;
          font-size: 14px;
          line-height: 1.1;
          height: 100px;
          border: none;
          background-color: var(--background);
          margin-top: 0.18rem;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }

  .transaction-footer {
    width: 100%;

    .save-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #534ced;
      height: 40px;
      width: 100%;
      color: white;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background: #5d55fb;
      }

      &:active {
        background: #5952e3;
      }
    }

    .disabled-button {
      background: #7a7a7a !important;

      &:active {
        background: #7a7a7a !important;
      }
    }
  }
}


// todo: maybe make it general for all this kind of icons
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--accent);
  color: white;

  .icon {
    height: 20px;
    width: 20px;
  }
}
