.category-expenses-search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;

  .search-category-expenses-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.8rem;

    .container-header-name {
      display: flex;
      align-items: center;
      cursor: pointer;

      .small-icon {
        margin-top: 2px;
      }
    }
  }

  .search-category-expenses-body {
    padding: 0 0.8rem 0.5rem 0.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;

    &::-webkit-scrollbar {
      width: 4px;
      background-color: var(--background);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--accent);
      border-radius: 8px;
    }

    .total {
      text-align: center;
    }

    .category-expense {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.25rem 0;
      border-bottom: 1px solid var(--secondary-border);
      width: 100%;
      font-size: 13px;
      cursor: pointer;

      &:active {
        transform: scale(1.01);
      }

      &:last-child {
        border-bottom: none;
      }

      &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:4px;

        .category-expense-icon {
          height: 33px;
          width: 33px;
          min-width: 33px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--accent);
          color: #FBFBFE;
        }
      }

      .category-expense-amount {
        display: flex;
        align-items: center;
      }

    }
  }
}
