<div class="accounts-container">

  <div class="net-worth-container">
    <div class="net-worth-header">
      <p>Net worth</p>
    </div>
    <div class="net-worth-sum">
      <b>0$</b>
    </div>
    <div class="net-worth-graphic">
      <p>---</p>
    </div>
  </div>

  <div class="account-container" *ngFor="let type of types">
    <div class="account-type">
      <div class="account-type-header">
        <div class="account-type-header-item"><b>{{ type.name }}</b></div>
        <div
          class="account-type-header-item">{{ calculateTypeTotal(type) }} {{ type.defaultCurrency.sign }}
        </div>
      </div>
      <div class="account-type-body">
        <div *ngFor="let account of type.accounts">
          <div class="account">
            <div class="account-item account-item-header">
              <mat-icon svgIcon="wallet" class="icon small-icon"></mat-icon>
            </div>
            <div class="account-item p-l-4">{{ account.name }}</div>
            <div class="account-item">{{ account.balance.toFixed(2) }} {{ account.currency.sign }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
