<div class="accounts-container">

  <div class="net-worth-container">
    <div class="net-worth-header">
      <p>Net worth</p>
    </div>
    <div class="net-worth-sum">
      <b>0$</b>
    </div>
    <div class="net-worth-graphic">
      <p>---</p>
    </div>
  </div>

  <div class="account-container" *ngFor="let category of categories">
    <div class="account-category">
      <div class="account-category-header">
        <div class="account-category-header-item"><b>{{ category.name }}</b></div>
        <div
          class="account-category-header-item">{{ calculateCategoryTotal(category) }} {{ category.defaultCurrency.sign }}
        </div>
      </div>
      <div class="account-category-body">
        <div *ngFor="let account of category.accounts">
          <div class="account">
            <div class="account-item account-item-header">
              <mat-icon svgIcon="wallet" class="icon small-icon"></mat-icon>
            </div>
            <div class="account-item p-l-4">{{ account.name }}</div>
            <div class="account-item">{{ account.balance }} {{ account.currency.sign }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
