<div class="accounts-container">

  <div class="net-worth-container">
    <div class="net-worth-header">
      <p>Net worth</p>
    </div>
    <div class="net-worth-sum">
      <b>0$</b>
    </div>
    <div class="net-worth-graphic">
      <p>---</p>
    </div>
  </div>

  <div class="account-container">
    <div class="account-category">
      <div class="account-category-header">
        <div class="account-category-header-item"><b>Cash</b></div>
        <div class="account-category-header-item">0$</div>
      </div>
      <div class="account-category-body">

      </div>
    </div>
  </div>

</div>
