.accounts-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.8rem;
  justify-content: start;
  align-items: center;
  gap: 8px;

  .net-worth-container {
    background-color: var(--secondary);
    width: 100%;
    min-height: 120px;
    border-radius: 12px;
    padding: 0.5rem 0.9rem;
  }

  .account-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .account-type {
      background-color: var(--secondary);
      width: 100%;
      border-radius: 12px;

      .account-type-header {
        display: flex;
        justify-content: end;
        align-items: start;
        border-bottom: 1px solid var(--secondary-border);
        padding: 0.5rem 0.9rem 0.3rem 0.9rem;
        width: 100%;
      }

      .account-type-header > *:first-child {
        flex: 1;
      }

      .account-type-header:nth-child(2) {
        margin-left: auto;
      }

      .account-type-body {
        padding: 0.1rem 1.4rem 0.2rem 1.4rem;
      }

      .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--secondary-border);
        width: 100%;
        padding: 0.4rem 0;
        font-size: 12px;
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }
      }

      .account-item-header {
        background-color: #b1c8fc;
        border-radius: 50%;
        height: 100%;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FBFBFE;

        .small-icon {
          transform: scale(0.6);
        }
      }

      .account-item {
        flex: 0 0 auto;
      }

      .account-item:nth-child(3) {
        margin-left: auto;
      }
    }
  }


}
