<div *ngIf="isOpened">
  <div class="transaction-search-container right-modal">
    <div class="container-header">
      <div>
        <mat-icon svgIcon="arrow-left" class="gray-icon small-icon" (click)="closeModal()"></mat-icon>
      </div>
      <div>
        <b>Transaction history</b>
      </div>
      <div>
      </div>
    </div>
    <div class="search-header">
      <div class="input-container">
        <mat-icon svgIcon="search" class="gray-icon small-icon" (click)="search()"></mat-icon>
        <input placeholder="Search by name or notes" [(ngModel)]="searchQuery" (keyup)="search()">
      </div>
      <div class="search-filters">
        <div class="filter" [ngClass]="{'active': account}"
             (click)="openAccountFilter()">{{ account?.name || 'All accounts' }}
        </div>
        <div class="filter">All dates</div>
        <div class="filter">All categories</div>
        <div class="filter">Sort by date</div>
      </div>
    </div>
    <div class="transactions-container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="20"
         [scrollWindow]="false" (scrolled)="loadMore()">
      <app-transaction *ngFor="let transaction of transactions" [transaction]="transaction"></app-transaction>
      <app-loader *ngIf="isLoading"></app-loader>
    </div>
  </div>
</div>

<app-transaction-account-filter
  *ngIf="isAccountFilterOpened"
  [selectedAccount]="account"
  (closed)="closeAccountFilter()"
  (accountSelected)="onAccountSelected($event)"
></app-transaction-account-filter>
